.root{
	-fx-background-color: #4d0000;
}

#title {
	-fx-text-fill: #dd2424;
	-fx-font-size: 60;
	-fx-font-family: impact;
	-fx-font-weight: bold;
}

.choice-box {
  -fx-background-color: #3e0e0e;
  -fx-mark-color: black;
  -fx-border-insets: 25 25 25 25;
  -fx-pref-width: 200;
  -fx-pref-height: 30;
}

.choice-box .context-menu { 
	-fx-background-color: #3e0e0e;
}

.choice-box .menu-item:focused { 
	-fx-background-color: #dd2424;
}

.choice-box .menu-item > .label { 
	-fx-text-fill: white;
	-fx-font-size: 20;
}

#base {
    -fx-background-image: url("src/media/img/background.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.label {
	-fx-font-size: 20;
	-fx-text-fill: whitesmoke;
}

.button {
	-fx-background-color: #6C6564;
	-fx-font-size: 17;
	-fx-text-alignment: center;
	-fx-padding: 7px;
	-fx-opacity: 0.4;
	-fx-text-fill: white;
}

.button:hover {
	-fx-opacity: 1;
}

.radio-button{
	-fx-padding: 5;
	-fx-font-size: 20;
	-fx-font-weight: bold;
	-fx-text-fill: whitesmoke;
	-fx-text-alignment: center;
}

VBox, HBox{
	-fx-alignment: center;
}

TextField{
	-fx-background-color: #6C6564;
	-fx-font-size: 13;
	-fx-padding: 5px;
	-fx-opacity: 1.0;
	-fx-text-fill: white;
}

#success{
	-fx-text-fill: green;
}

#error{
	-fx-text-fill: red;
}

#danger{
	-fx-background-color: #D25757;
}
#safe{
	-fx-background-color: #3CB371;
}

.check-box {
	-fx-font-size: 20;
	-fx-text-fill: red;
}